<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>io7m-jmurmur</title>
  </properties>

  <body>
    <subsection name="jmurmur">
      <p>
        The <var>jmurmur</var> package provides an implementation
        of the <a href="https://en.wikipedia.org/wiki/MurmurHash">Murmur</a>
        hash function.
      </p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Full unit test coverage.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
